{% extends 'base.html' %}

{% block content %}

<h1 style="font-family: Console;"> Даёшь Питон !!!</h1>
<hr>
<h2>Вниманию Будущих Программистов Любого Возраста, а также их Родителей!</h2>
<p>Хотите научить ребёнка азам программирования на "Python 3"?</p>
<h3>Нет ничего проще!</h3>
<ul>
    <li>Вам не нужно никому ничего платить</li>
    <li>Вам не нужен соверменный компьютер</li>
    <li>Вам не нужно устанавливать никакие программы</li>
    <li>Вам ни у кого не нужно просить помощи</li>
</ul>
<p>Вам нужна только <strong>электронная почта</strong>, доступ в <strong>интернет</strong>, и, желательно,
хоть какие-то первоначальные знания <strong>английского языка</strong></p>
<p>Отправьте имейл  с  текстом запроса : «Орешек №1» на адрес:
<a href="mailto:dmitrybozhko@mail.ru?subject=Даёшь Питон!&cc=
dummy@list.ru&body=Перед отправкой этого сообщения заполните пробелы в тексте запроса : 'Оре... №1!' ">dmitrybozhko@mail.ru</a>.
</p>
<p>В ответ на запрос на Вашу электронную почту будут высланы (бесплатно):
<ul>
    <li>электронная рабочая тетрадь программиста "TRINKET"</li>
    <li>пять уроков для абсолютных новичков</li>
    <li>пошаговая инструкция как работать с "TRINKET"</li>

</ul>
</p>

<hr>
<h2>
    Старшеклассникам и Студентам !
</h2>
<p>
В ответ на Ваш запрос "Орешек №11" на адрес:<a href="mailto:dmitrybozhko@mail.ru?subject=Даёшь Питон!&cc=
dummy@list.ru&body=Перед отправкой этого сообщения заполните пробелы в тексте запроса : 'Оре... №11' ">dmitrybozhko@mail.ru</a>
Вам на электронную почту будут высланы (бесплатно) интерактивная <br>облачная сервисная платформа
для программированя и обмена программами "TRINKET", а также ИНСТРУКЦИЯ по её использованию на русском языке.
</p>
<p>Для тех, кто в теме и владеет английским рекомендую поработать с указанной выше платформой на сайте разработчика:
<a href="https://trinket.io/library/trinkets/e4b1e24b8b" rel="nofollow">https://www.trinket.io</a>.
</p><hr>
<h2>
    Уважаемым Преподавателям !
</h2>
<p>В ответ на Ваш запрос "Орешек №111" на адрес <a href="mailto:dmitrybozhko@mail.ru?subject=Даёшь Питон!&cc=
dummy@list.ru&body=Перед отправкой этого сообщения заполните пробелы в тексте запроса : 'Оре... №..' ">dmitrybozhko@mail.ru</a>
Вам на электронную почту будут высланы методические материалы на русском
языке:</p>
<ul>
    <li>Обзор функционала ещё одной бесплатной интерактивной облачной сервисной платформы
<a href="http://www.pythonanywhere.com/" rel="nofollow">www.pythonanywhere.com</a> </li>
    <li>Инструкция на русском языке по использованию платформы при обучении программированию,</li>
    <li>Инструкция на русском языке по использованию данного сервиса для разработки простых сайтов на фреймворке Django 2.2</li>
    <li>Обзор функционала более простой, но более красочной сервисной платформы <a href="https://trinket.io/library/trinkets/e4b1e24b8b"
    rel="nofollow">https://www.trinket.io</a>.</li>
</ul>
<p> Работа с платформой <a href="http://www.pythonanywhere.com/" rel="nofollow">www.pythonanywhere.com</a>, также как
и с платформой <a href="https://trinket.io/library/trinkets/e4b1e24b8b"rel="nofollow">https://www.trinket.io</a> не предъявляет
никаких требований ни к Вашему компьютеру,<br> ни к компьютерам Ваших учеников.
Возможно даже использование интернет-планшетов. Платформа работает на последней
версии Python 3.7 и <br>предоставляется разработчиками бесплатно. Связь между компьютерами учителя и
учеников осуществляется через интернет. Преподаватель в любой момент <br>может переключиться на интерфейс
компьютера любого ученика. Ученикам и Преподавателю не требуется установка дополнительного программного <br>обеспечения.
Ученики могут легко использовать платформу не только в классе, но и для выполнения домашних заданий на домашнем компьютере или даже <br>
в интернет клубе. Единственным условием успешного использования является наличие интернета.
<hr>
</p>
<p><br>
</p>
<p><em>Опубликовано: 16 сентября 2019 г.<em><br>
<em>Действительно до: 1 января 2020 г.<em>
</p>

{% endblock %}